* {
  margin: 0;
  padding: 0;

  font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
}

body {
  background: #F8F8F8;
}

h2, h3, h3 a{
  font-family:arial;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #777;
}

a:hover {
  color: #CF6A6F;
}

#main {
  /*
   * position: absolute;
   * top: 40px;
   * left: 300px;
  */
  position:relative;
  margin-top:40px;
  margin-left:auto;
  margin-right:auto;
  width: 700px;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;
  font-size: 15px;
  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;
  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  position: fixed;

  top: 40px;
  left: 60px;
  width: 200px;
  height: 90%;
  border-right: 1px solid #ccc;
}

#sidebar h2 a{
  color: #333;
  letter-spacing: 1px;
  line-height: 20px;
  font-family: 'Damion';
  text-transform: none;
  font-weight:normal;
}

#sidebar ul {
  list-style-type: none;
  margin: 5em 0px 15em 0px;
}

#sidebar li {
  font-size: 14px;
  line-height: 40px;
}

#sidebar ul li a{
  text-transform: uppercase;
  color:#333;
}

#sidebar a:hover{
  color: #CF6A6F;
}

#sidebar span{
  color:#333;
}

.framed_pic{
  border: 1px solid #ccc;
  padding:4px;
  background: white;
  margin: 10px 10px 10px 0px;
}

.pull_left{
  float: left;
}
