<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
<title><%= @item[:title] %></title>
	<meta name="viewport" content="width=1024, user-scalable=no">

	<!-- Replace path with correct path to deck.core.css. -->
	<link rel="stylesheet" href="/assets/stylesheets/slides.css" type="text/css">
	<link rel="stylesheet" href="/assets/stylesheets/grid.css" type="text/css">
  <link rel="stylesheet" href="/assets/stylesheets/coderay.css" type="text/css" media="screen">

<%= @item[:content_for_stylesheets] %>
	<!-- Any other extension CSS files go here. -->

	<!-- Replace path with correct path to Modernizr file. -->
	<script src="/assets/javascripts/modernizr.custom.js"></script>
</head>
<body>

<%= yield %>
<!-- Other extension HTML snippets go here, at the bottom of the deck container. -->

<!-- Update these paths to point to the correct files. -->
<script src="/assets/javascripts/jquery-1.7.min.js"></script>
<script src="/assets/javascripts/jquery.scrollTo-min.js"></script>
<script src="/assets/javascripts/slides.js"></script>

<%= @item[:content_for_javascripts] %>
</body>
</html>
